.exercism

# User solutions from mentored mode
users/

# gcc (c)
tests.out

# rebar3 (erlang)
_build

# gradle (java, kotlin, groovy)
build
.gradle
gradle
gradlew
gradlew.bat

# stack (haskell)
.stack-work

# npm (javascript)
node_modules

# ocaml
_build

# python
.pytest_cache
__pycache__

# raku
.precomp

# sbt/lein (scala, clojure)
target

