.exercism

# c
tests.out

# erlang
_build

# gradle (java, kotlin, groovy)
build
gradle
gradlew
gradlew.bat

# haskell
.stack-work

# javascript
node_modules

# ocaml
_build

# python
.pytest_cache
__pycache__

# raku
.precomp

# scala
target

